<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datavisyn DevOps CES Challenge</title>
    <style>
        body {
            font-family: sans-serif;
            text-align: center;
            margin-top: 50px;
            background-color: #213a70;
        }
        h1 {
            color: #ffffff;
        }
        p {
            color: #ffffff;
        }
    </style>
</head>
<body>
    <img src="{{ url_for('static', filename='logo.png') }}" alt="Datavisyn Logo" width="200"></img>
    <!-- <h1>Hello, Datavisyn!</h1> -->
    <h1>Welcome, {{ user_email }}!</h1>
    <p>If you are seeing this, you have been authenticated!</p>
    <img src="https://cdn.shopify.com/s/files/1/0344/6469/files/cat-gif-loop-circle.gif?v=1523984137" alt="Cat for celebration"></img>
</body>
</html>